.background {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-image: url('../../../../../../Imagenes/Collage2.png');  }
   
  
   
  .form-signin {
    width: 100%;
    max-width: 330px;
    background-color: #023047;
    margin: 0 auto;
    padding: 15px;
   padding-top: 40px;
   padding-bottom: 40px;
   padding-left: 40px;
   padding-right: 40px;
   margin: 0 auto;
   border-radius: 5%;
  }
   
  
  .background {
  height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-color{
  background-color: #023047;
  padding-top: 10px;
}
 
.img {
  width: 150px;
}

.btn{
  background-color: #6ffa9c;
  width: 150px;
}
.h3{
  color: #f9f9f9;
  padding: 10px;
  margin-bottom: 25px;
}
.form-signin .form-control {
  height: 45px;
}
.form-control{
  margin-bottom: 30px;
}
.link{
  color: #f9f9f9;
}
.form-control pass{
 margin-bottom: 30px;
}
.form-control pass2{
  margin-bottom: 30px;
}