<html>
    <header>
        <!-- Hotjar Tracking Code for https://fithealth.website -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2736265,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
    </header>
<body class="body">
    <div class="principal">
        <div class="div img">
            <img />
        </div>
        <label class="label">{{username}}</label>
        <div class="divbutton">
            <button type="button" class="btn btn-lg btn-primary">
                Cerrar Sesión
            </button>
        </div>
    </div>
</body>

</html>