<footer class="footer mt-auto">
    <div class="general">
        <div class="div img">
            <img />
        </div>
        <p class="parrafo1">
            En FitHealth trabajamos para <br>dar un buen servicio de alta calidad <br>en beneficio de nuestros
            jovenes.
        </p>
        <p class="parrafo2">
            COPYRIGHT 2021.
        </p>
        <p class="parrafo3">
           <b class="contacto">Contactanos</b>  <br> 
            Blvd Laguna Sur. Segunda Rinconada de la Unión <br>
            Télefono:871 500 7097<br>
            Email: Complejodeportejabonera@gmail.com<br>
        </p>
    </div>
</footer>