<body class="Body">
  <div class="con"><a>Listado de Alumnos</a></div>
  <div class="" role="main">
    <div class="d-flex listas flex-wrap m-2">
      <div class="registro">
          <button class="reg-basquet">  </button>
      </div>
      <div class="registro">
          <button class="list-volley"></button>
      </div>
      <div class="registro">
          <button class="hist-natacion"></button>
      </div>
      <div class="registro">
          <button class="pag-soccer"></button>
      </div>
  </div>
  </div>
  </body>