<body class="Body">
    <div class="con"><a>Tablero Inicial</a></div>
    <div class="" role="main">
      <div class="d-flex listas flex-wrap m-2">
        <div class="registro">
            <button class="reg-basquet">  </button>
        </div>
        <div class="registro">
            <button class="list-volley"></button>
        </div>
        <div class="registro">
            <button class="hist-natacion"></button>
        </div>
        <div class="registro">
            <button class="pag-soccer"></button>
        </div>
    </div>
    <div class="d-flex">
        <h1>Diciembre 2021</h1>
        <ol class="ol">
          <li class="day-name">Lun</li>
          <li class="day-name">Mar</li>
          <li class="day-name">Mié</li>
          <li class="day-name">Jue</li>
          <li class="day-name">Vie</li>
          <li class="day-name">Sáb</li>
          <li class="day-name">Dom</li>
      
          <li class="first-day">1</li>
          <li>2</li>
          <li>31</li>
        </ol>
 </div>
</div>
</body>

    