<div class="loo">Registro de Alumnos</div>
<div class="lo">
<form>
    <ul>
     <li>
       <label for="name">Nombre Completo:</label>
       <input type="text" id="name" name="user_name"> 
       <label for="name">Fecha de Nacimiento:</label>
       <input type="number" id="fecha" name="user_date"> 
    </li>
     <li>
       <label for="mail">Edad:</label>
       <input type="text" id="edad" name="user_medad">
       <label for="text">Elegir disiplina:</label>
       <select name="transporte">
        <option>Natacion</option>
        <option>Futbol</option>
        <option>Baquetbol</option>
        </select>
     </li>
     <label for="name">Horario:</label>
     <select name="transporte">
      <option>9</option>
      <option>10</option>
      <option>11</option>
      </select>
     <label for="mail">Correo electrónico:</label>
    <input type="email" id="mail" name="user_mail">
    </ul>
    <li class="button">
      <button type="submit">Guardar</button>
    </li>
   </form>
  </div>