<div class="d-flex">
<div style="border-right:2px solid #9b9b9b ;margin-right: 15px;">
    <div class="d-flex listas flex-wrap m-2">
        <div class="registro">
            <button class="reg" (click)='ShowRegisters()'>
              </button>
        </div>
        <div class="registro">
            <button class="list" (click)='ShowLists()'>
                </button>
        </div>
        <div class="registro">
            <button class="hist" (click)='ShowHistorial()'>
            </button>
        </div>
        <div class="registro">
            <button class="pag" (click)='ShowPays()'>
            </button>
        </div>
    </div>
</div>

<app-registro *ngIf="ShowRegister" class="container2"></app-registro>
<app-listas *ngIf="ShowList" class="container2"></app-listas>
<app-historial *ngIf="ShowHist" class="container2"></app-historial>
<app-pago *ngIf="ShowPay" class="container2"></app-pago>
<app-tablero *ngIf="ShowTablero" class="container2"></app-tablero>
</div>