<div class="d-flex">
<!--<meta charset="utf-8">
<div class="container">
    <div class="principal">
        <div class="registro">
            <button class="reg" (click)='ShowRegisters()'>
                <div class="R">
                    Registros
                </div>
            </button>
        </div>
        <div class="listas">
            <button class="list" (click)='ShowLists()'>
                <p>Listas</p>
            </button>
        </div>
    </div>
    <div class="principal2">
        <div class="historial">
            <button class="hist" (click)='ShowHistorial()'>
               <p>Historial</p>
            </button>
        </div>
        <div class="pagos">
            <button class="pag" (click)='ShowPays()'>
                <p>Pagos</p>
            </button>
        </div>
    </div>
</div> 
<app-registro *ngIf="ShowRegister"></app-registro>
<app-listas *ngIf="ShowList" class="container2"></app-listas>
<app-historial *ngIf="ShowHist" class="container2"></app-historial>
<app-pago *ngIf="ShowPay" ></app-pago>-->
<div style="border-right:2px solid #9b9b9b ;margin-right: 15px;">
    <div class="d-flex listas flex-wrap m-2">
        <div class="registro">
            <button class="reg" (click)='ShowRegisters()'>
                <p>
                    Registros
                </p>
            </button>
        </div>
        <div class="registro">
            <button class="list" (click)='ShowLists()'>
                <p>Listas</p>
            </button>
        </div>
        <div class="registro">
            <button class="hist" (click)='ShowHistorial()'>
               <p>Historial</p>
            </button>
        </div>
        <div class="registro">
            <button class="pag" (click)='ShowPays()'>
                <p>Pagos</p>
            </button>
        </div>
    </div>
</div>

<app-registro *ngIf="ShowRegister" class="container2"></app-registro>
<app-listas *ngIf="ShowList" class="container2"></app-listas>
<app-historial *ngIf="ShowHist" class="container2"></app-historial>
<app-pago *ngIf="ShowPay" class="container2"></app-pago>
</div>